body {
    background-color: rgba(10, 10, 10, 0.849)
}


h1 {
    font: 1em arial; 
    font-size: 260px; 
    color: rgb(238, 238, 238);
    margin-top: 1.5cm
}
h2 {
    font: 1em arial;
    font-size: 18px;
    color: rgb(236, 239, 240);
    margin-left: 0.5cm;
    margin-top: 2cm;
    margin-bottom: 2cm
}
h3 {
        font: 1em arial;
        font-size: 28px;
        color: rgb(179, 208, 218);
        text-decoration: underline
}
h4 {
    font: 1em arial;
    font-size: 18px;
    color: rgb(236, 239, 240);
    margin-left: 0.5cm;
    margin-top: 2cm;
    margin-bottom: 2cm
}


p {
    font: 1em arial;
    font-size: 18px;
    color: rgb(236, 239, 240);
    margin-left: 0.5cm;
    margin-top: 0.25cm
}
li {
        font: 1em arial;
        font-size: 16px;
        color: rgb(236, 239, 240);
        margin-left: 1cm;
        margin-top: 0.25cm
}
button {
    
    background-color: rgb(184, 3, 3);
    margin-bottom: 3cm;
    margin-left: 12.25cm
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
a {
  font: 1em arial;
    font-size: 36px;
    text-decoration: none;
    color: white; 
}    
a:link {
    color: white;
} 
a:visited {
    color: grey;
} 

span {
    background-color: green;
}
span.red {
    background-color:red
}
.column {
    color: white;
    display: inline-block;
}
.arrow-column {
    width: 45%;
}